*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

body{
   max-width: 1200px;
   margin: auto;
}

table{
   margin: auto;
   
}

.formEdit{
   max-width: 800px;
   margin: auto;
}

form{
   max-width: 500px;
   margin: auto;
   padding: 20px;
   background: #656FA6;
   border: thin #262626;
   -webkit-box-shadow: 0 10px 6px -6px #0D0D0D;
	-moz-box-shadow: 0 10px 6px -6px #0D0D0D;
   box-shadow: 8px 10px 10px -5px #0D0D0D;
   margin-bottom: 50px;
   border-radius: 20px;
}


.sideIcon{
   background: #363B59;
   border: #DDDCFF;
   color: #CFFFF1;
}

.formInput{
   border: #DDDCFF;
   background: #DDDCFF;
}

.formBtn{
   background: #BDD8E8;
   color: #262626;
}

.formBtn:hover{
   background: #CFFFF1;
}

.errorMessage{
   color: #F2075D;
   font-family: 'Architects Daughter', cursive;
}

.errosWrap{
   border: #595956 solid thin;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   padding-left: 10px;
   padding-right: 5px;
   font-family: 'Architects Daughter', cursive;
   font-size: 13px;
   text-align: justify;
   margin-top: 5px;
}