
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Pacifico&display=swap');

/* Navigation*/

*{

   padding: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
}

body{
   max-width: 95vw;
   margin: auto;
   background: #EDE9F2;
   padding: 0;
   box-sizing: border-box;
   position: relative;
   padding-bottom: 100px;
   min-height: 100vh;
}

button {
   width: 80px;
   background: #A66D78;
   border: 0;
   padding: 10px 20px;
 }

 button:hover{
    cursor: pointer;
 }

.menu ul {
   display: grid;
   padding: 0;
   margin: 20px 0;
   list-style: none;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-gap: 10px;
}

.menu a {
   background: #A66D78;
   display: block;
   font-family: 'Pacifico', sans-serif;
   text-decoration: none;
   padding: 10px;
   text-align: center;
   color: #F2F2F2;
   font-size: 20px;
}

.menu{
   perspective: 800px;
}

#menu-list{
   max-height: 0;
   overflow: hidden;
   transform: rotateX(90deg);
   transition: all 0.5s;
}


[aria-expanded="true"] ~ #menu-list {
   display: grid;
   transform: rotateX(0deg);
   max-height: 500px;

 }

 .open, .close{
    font-size: 1.5rem;
 }

 .menu ul li a:hover{
    text-align: center;
   transition: all .2s ease-in;
   background-color: #85A687;
   font-family: 'Pacifico', sans-serif;
   -webkit-text-stroke: 1px #F2D541;
   color: #FFE894;
 
 }

 [aria-expanded="false"] .close {
   display: none;
 }

 [aria-expanded="true"] .close {
   display: inline-block;
 }

 [aria-expanded="true"] .open {
   display: none;
 }

 /** Footer */


footer{
   position: absolute;
   bottom: 0;
   width: 100%;
}

.s-m{
   width: 100%;
   height: auto;
   margin: auto;
   text-align: center;
}

.s-m a{
   display: inline-flex;
   width: 40px;
   height: 40px;
   background: #DED0F2;
   color: #595956;
   margin: 0 6px;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   transition: 0.4s;
   font-size: 20px;
   text-decoration: none;
}

.s-m{
   margin: 10px;
}

.s-m a i{
   transition: 0.4s all;
}

.s-m a:hover{
   transform: scale(1.3);
}

.s-m a:hover > i{
   transform: scale(1.2) rotate(45deg);
}

.footer-menu-one{
   width: 100%;
   height: auto;
   margin: auto;
   margin-top: 20px;
}

.footer-menu-one ul{
   margin: 0px;
   padding: 0px;
   text-align: center;
}

.footer-menu-one ul li{
   display: inline-block;
   margin: 0px 15px;
}

.footer-menu-one ul li a{
   font-family: 'Architects Daughter', cursive;
   font-size: 18px;
   font-weight: bolder;
   color: #262626;
   
}

.footer-main-div{
   min-height: 100px;
   background: #A66D78;
   padding: 5px;
}

.footer-menu-one ul li:hover{
   transform: scale(1.10);
}

.footer-menu-one ul li{
   transition: 0.4s all;

   /* at the end of the efect makes an extra movement correct*/
}

#facebook:hover{
   background: #3B5998;
   color: #EDE9F2;
}

#instagram:hover{
   background: #e4405f;
   color: #EDE9F2;
}

#twitter:hover{
   background: #55acee;
   color: #EDE9F2;
}

#youtube:hover{
   background: #E62117;
   color: #EDE9F2;
}

.footer-menu-one ul li a:hover{
   color: #EDE9F2;
}