
.dataArt{
   transition: all .3s;
   text-decoration: none;
   color: #A16FFC;
   font-weight: bolder;
   background: #FFE894;

}

.btn{
   color: #F2E744;
}

img{
   width: 100%;
   transition: all .3s;
}

.products{
   padding: 70px 0;
   background: #EBEDF2;
   text-align: center;
}

.container{
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}

.productsGrid{
   display: grid;
   padding-bottom: 20px;
   grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
   grid-template-rows: repeat(auto-fit, minmax(200px, 350px));
   grid-gap: 30px;
   margin: 30px 15px 0px 15px;
   text-align: center;
   justify-content: center;
}

.head{
   width: 70%;
   margin: 0 auto;

}

.head h1{
   margin: 0;
   font-size: 50px;
   color: #020E26;
   font-weight: 500;
}

.singleBox{
   position: relative;
   overflow: hidden;
   max-height: 300px;
   box-sizing: border-box;
   box-shadow: 0 2px 10px #D9A3A3;
   transition: all .3s;
}

.singleBox:hover{
   box-shadow: 0 2px 13px #A66D78;
   transition: all .3s;
}

.singleBox:hover img{

   transform: scale(1.1);
   transition: all .3s;
}

.boxContent{
   position: absolute;
   height: 50%;
   left: 0;
   bottom: -50px;
   width: 100%;
   font-family: 'Architects Daughter', cursive;
   font-size: 13px;
   color: #F2F2F2;
   padding: 10px 5px;
   background: linear-gradient(45deg, rgba(13,13,13,1) 0%,rgba(38,38,38,.75) 0%,rgba(191,191,191,.5) 100%);
   transition: all .3s;
   
   display: grid;
   justify-content: center;
   grid-template-areas: 
      "itemTitle itemTitle itemTitle"
      "productData productData productData"
      ". aProduct .";

}

.boxContent:hover{
   background: linear-gradient(45deg, rgba(166,109,120,1) 0%,rgba(193,199,217,.75) 0%,rgba(133,166,135,.5) 100%);
   color: #0D0D0D;
}

.aProduct{
   grid-area: aProduct;
   font-size: 12px;
}

.productData{
   grid-area: productData;


}

.itemTitle{
   grid-area: itemTitle;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: 13px;
   font-weight: 500;
   margin: 0;
}

.singleBox .boxContent:hover{
   bottom: 0;
   transition: all .3s;
}

.titleCat{
   grid-area: titleCat;
   font-family: 'Pacifico', sans-serif;
   font-weight: 600;
   color: #FFE894;
   font-weight: bolder;
}

.boxContent .aProduct{
   font-size: 14px;
   font-weight: 500;
   
}

.boxContent .btn{
   display: inline-block;
   padding: 5px 10px;
   border: 1px solid #C1C7D9;
   background: #FFE894;
   border-radius: 3px;
   font-weight: 400;
   color: black;
   text-decoration: none;
   justify-content: center;
}

.boxContent .aProduct:hover{
   background: #A66D78;
   transition: all .3s;
   text-decoration: none;
}

.btn:hover{
   color: #C1C7D9;
   font-weight: bold;
}








@media (max-width:992px){
   .productsGrid{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
   }
}

@media (max-width:767px){
   .productsGrid{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
   }

   .head{
      width: 95%;
   }

   .boxContent{
      bottom: 0;
   }

}

@media (max-width:520px){
   .productsGrid{
      grid-template-columns: repeat(1, minmax(200px, 300px));
      grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
      justify-content: center;
   }
}