
.profileContainer{
   box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

.profileCard{
   width: 200px;
   background: #fff;
}


.welcome{
   font-family: 'Architects Daughter', cursive;
   background: #333;
   color: #ccc;
   overflow: hidden;
}

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   padding: 0 3rem;
}

.welcomeH1, .welcomeH2{
   font-weight: 200;
   margin: 0.4rem;
}

.welcomeH1{
   font-size: 3.5rem;
}

.welcomeH2{
   font-size: 2rem;
}

/* Cursor */
.welcome-type > .welcomeTxt{
   border-right: 0.2rem solid #777;
}

@media(min-width: 1200px){
   .welcomeH1{
      font-size: 5rem;
   }
}

@media(max-width: 800px){
   .container{
      padding: 0 1rem;
   }
   .welcomeH1{
      font-size: 3rem;
   }
}

@media(max-width: 500px){
   .welcomeH1{
      font-size: 2.5rem;

   }

   .welcomeH2{
      font-size: 1.5rem;
   }
}
