<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/contact-us.css">
   <title>Document</title>
</head>
<section class="contact">
   <div class="contactWrapper">
      <form class="contact-form" action="/contact-us" method="POST">
        <div class="input-fields">
          
         <input type="text" class="input" id="firstName" name="firstName" placeholder="First Name">

         <input type="text" class="input" id="lasttName" name="lastName" placeholder="Last Name">

         <input type="text" class="input" id="email" name="email" placeholder="you@domain">
          
         <input type="text" class="input" id="subject" name="subject" placeholder="Subject">
        </div>
        <div class="msg">
          <textarea placeholder="Message" id="message" name="message"></textarea>
          <div class="btn">
            <input type="submit" value="Contact Us">
          </div>
        </div>
      </form>
    </div>
</section>
</html>