<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/welcome.css">
   <title>{{title}}</title>
</head>
<section class="welcome">
   <div class="container">
      <h1 class="welcomeH1">the Workshop

      <span class="welcome-type" data-wait="3000" data-words='["Welcome", "Netflix & Chill"]'></span> 
      </h1>
      <!-- data-wait is the specification of timte to wait after typing a word-->
      <!-- data-wrods is the words that we want to type, this is going to be fetched an array from js-->

      <h2 class="welcomeH2">#jorgeGarciadiego</h2>
   </div>

   <script src="/js/welcome.js"></script>
</section>
</html>